
*{
  box-sizing:border-box;
}
body /* body style*/
{
    margin: 0;
    padding: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #333;
color: #ccc;
}
h3 {
  font-size:22px ;
  font-family:  Neue Plak,-apple-system,BlinkMacSystemFont,
  Roboto,Helvetica Neue,
  Helvetica,Tahoma,Arial,sans-serif;
  margin-left: 15px;
  font-weight: 600;
  color: #FFFEF2;
}


ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position: -webkit-sticky; /* Safari */
    position:relative;
    top: 0;
  }
  li{
    float: right;
  
  }
  li a { /* remove text-decoration and make the anchorlinks to be block*/
    display:block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{ /* background - colour */
    background-color: #FFFEF2;
    color: #333;
  }


.topnav{
    background-color:rgb(217, 129, 15);
    overflow: hidden;
    position: relative;
  }
  
  .topnav a {
    float: right;
    color:#FFFEF2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color:#fffff3;
    color: black;
  }
  
  .topnav a.active {
    background-color:#555;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  
.Logo label
{
  font-size: 47px;
  float: left;
  color: #FFFEF2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.Logo label:hover {
  color:rgb(217, 129, 15);
}

@media screen and (max-width:600px)
{
.Logo label{
  padding-top: 6px;
  font-size: 27px;
}
}


label{
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 8px 10px 0;

}  
.BOX{
  border-radius: 5px;
}

  .L1{
    float: left;
    width:25%;
    margin-top:4px;
  }
  .L2
  {
    float:left;
    width:75%;
    margin-top: 4px;
  }

/* style the borders of the inputs,elements and text-areas
add apprpriate padding to both of them for good spacing */
  input[type=text], select{
    width:100%;
    padding:12px;
    border:#ccccccae 1px solid;
    box-sizing: border-box;
    resize: none;
    border-radius: 6px;
  }
 
/* style the borders of the inputs,elements and text-areas
add apprpriate padding to both of them for good spacing */

@media screen and (max-width:414px) {
  .center-container{
    text-align: center;
    margin-top: 20px;
  }
}

.center-container{
text-align: center;
}

.button {
  color:#333;
  padding: 15px;
  width: 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-top:20px;
}

.button:hover
{
  background-color: #555;
  color: #ccc;
}

/* Style the textarea, making it unresizeable by using resize:none;*/

textarea{
  width:500px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
  resize:none;

}

@media screen and (max-width: 414px) {  
  /* When screen is less than 600px let the column width be 100 % */
  textarea {
    width:100%;
    height: auto;
  }
}

.Package:after { /* To clear floats. */
content: " ";
display:table;
clear:both;
}

/* When screen is less than 600px
 let the boxes stack on each other instead of next to each other . */
@media screen and (max-width:600px){
  .L1,.L2, input[type=submit]{
    width: 100%;
    margin-top:0;
  }
}
  

/* Solid border divider  */
hr.solid {
  border-top: 1px solid #ccc;
}


.icon-box { /* style icon container */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
   
}

.shapes {
  float: left;
  width: 33.33%;
 
}

.icon-box:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {  
  /* When screen is less than 600px let the column width be 100 % */
  .shapes {
    width: 100%;
  }
}




.copyright{
  color:white;
  border: 1px black solid;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  font-family:Montserrat,sans-serif;
}

.Footer {
  background:rgb(217, 129, 15);
}
.column {
  float: left;
  width: 33.33%;
  color: #ccc;
  
}



/* Clear floats after the columns */
.Footer:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {  
  /* When screen is less than 600px let the column width be 100 % */
  .column {
    width: 100%;
  }
}

